body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #A2B198 0%, #A2B198 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.login-container {
    width: 100%;
}

a.wsnextboxlink1:link,a.wsnextboxlink1:visited{ display:block; width:100%; padding:1px; text-decoration:none; text-align:center; border-style:solid;
border-width:1px;
border-color:#b0b581;
color:#b0b581;
background-color: #2a323a;
border-radius:4px;}
a.wsnextboxlink1:hover {
border-color:#f4f4ed;
color:#ced1b1;
background-color: #384d5d;}


button {
    background: transparent linear-gradient(180deg,#829b71 0%, #829b71 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input {
    background-color: white;
    border: 6px solid rgb(185, 214, 174);
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
    .login-container,
    .logo {
        width: 100%;
    }
    form {
        margin: auto;
    }
    img {
        height: 7em;
        margin: 2em;
    }
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #A2B198 0%, #A2B198 100%) 0% 0% no-repeat padding-box;
}

main {
    width: 80vw;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav>img {
    width: 60%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid #FFFFFF;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    padding: 0.2rem;
    width: 60%;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 60%;
}    .select select {
        font-family: 'Arial';
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 6px solid rgb(185, 214, 174);;
        border-radius: 0px;
        background: white;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }

        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 16px;
    right: 10px;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #7b7b7b transparent transparent transparent;
}


ul {
    list-style-type: none;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0.72px;
    color: #FFFFFF;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;
    color: white;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-project {
    background: #2E6CD3 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.add-project>i {
    padding: 1em 1em;
}

.search-bar {
    width: 70%;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
}
.mediaViewInfo {
    --web-view-name: See project info screen;
    --web-view-id: See_project_info_screen;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: See_project_info_screen;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#See_project_info_screen {
    position: absolute;
    width: 1280px;
    height: 800px;
    background-color: rgba(162,177,152,1);
    overflow: hidden;
    --web-view-name: See project info screen;
    --web-view-id: See_project_info_screen;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#Component_6__1 {
    position: absolute;
    width: 963px;
    height: 440px;
    left: 159px;
    top: 138px;
    overflow: visible;
}
#RECENT_PROJECTS {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 250px;
    white-space: nowrap;
    line-height: 104px;
    margin-top: -39px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(72,72,72,1);
    letter-spacing: 1px;
    text-transform: uppercase;
}
#Path_6094 {
    fill: rgba(222,236,215,1);
    stroke: rgba(170,188,160,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_6094 {
    overflow: visible;
    position: absolute;
    width: 963px;
    height: 62px;
    left: 0px;
    top: 53px;
    transform: matrix(1,0,0,1,0,0);
}
#Collabee_Private_Co {
    left: 17px;
    top: 80px;
    position: absolute;
    overflow: visible;
    width: 212px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Thu_26_Oct {
    left: 281px;
    top: 76px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Christian_Matthews {
    left: 435px;
    top: 76px;
    position: absolute;
    overflow: visible;
    width: 204px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Thu_26_Oct_fu {
    left: 658px;
    top: 76px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#CLIENT {
    left: 453px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    line-height: 104px;
    margin-top: -39px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(72,72,72,1);
    letter-spacing: 1px;
    text-transform: uppercase;
}
#DUE {
    left: 673px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 104px;
    margin-top: -39px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(72,72,72,1);
    letter-spacing: 1px;
    text-transform: uppercase;
}
#STATS {
    left: 791px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    line-height: 104px;
    margin-top: -39px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(72,72,72,1);
    letter-spacing: 1px;
    text-transform: uppercase;
}
#CREATED {
    left: 282px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    line-height: 104px;
    margin-top: -39px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(72,72,72,1);
    letter-spacing: 1px;
    text-transform: uppercase;
}
#Path_6095 {
    fill: rgba(222,236,215,1);
    stroke: rgba(170,188,160,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_6095 {
    overflow: visible;
    position: absolute;
    width: 963px;
    height: 62px;
    left: 0px;
    top: 158.127px;
    transform: matrix(1,0,0,1,0,0);
}
#Wed_25_Oct {
    left: 281px;
    top: 167px;
    position: absolute;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Arthur_Cook {
    left: 447px;
    top: 167px;
    position: absolute;
    overflow: visible;
    width: 130px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Thu_26_Oct_f {
    left: 658px;
    top: 167px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Path_6096 {
    fill: rgba(222,236,215,1);
    stroke: rgba(170,188,160,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_6096 {
    overflow: visible;
    position: absolute;
    width: 963px;
    height: 62px;
    left: 0px;
    top: 250.265px;
    transform: matrix(1,0,0,1,0,0);
}
#Target {
    left: 17px;
    top: 261px;
    position: absolute;
    overflow: visible;
    width: 66px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Tue_24_Oct {
    left: 282px;
    top: 258px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Evelyn_Tucker {
    left: 445px;
    top: 258px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Thu_26_Oct_ga {
    left: 658px;
    top: 258px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Cambr_Card {
    left: 17px;
    top: 170px;
    position: absolute;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Path_6097 {
    fill: rgba(222,236,215,1);
    stroke: rgba(170,188,160,1);
    stroke-width: 6px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_6097 {
    overflow: visible;
    position: absolute;
    width: 963px;
    height: 62px;
    left: 0px;
    top: 350px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_652 {
    opacity: 0.116;
    fill: rgba(255,156,70,1);
    stroke: rgba(168,185,157,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_652 {
    position: absolute;
    overflow: visible;
    width: 118px;
    height: 32px;
    left: 791px;
    top: 83px;
}
#Rectangle_653 {
    opacity: 0.082;
    fill: rgba(98,128,255,1);
    stroke: rgba(168,185,157,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_653 {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 32px;
    left: 791px;
    top: 174px;
}
#Rectangle_654 {
    opacity: 0.116;
    fill: rgba(255,156,70,1);
    stroke: rgba(168,185,157,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_654 {
    position: absolute;
    overflow: visible;
    width: 118px;
    height: 32px;
    left: 791px;
    top: 264px;
}
#IN_PROGRESS {
    left: 807px;
    top: 79px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,156,70,1);
}
#COMPLETED {
    left: 808px;
    top: 169px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(98,128,255,1);
}
#IN_PROGRESS_gf {
    left: 807px;
    top: 260px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(255,156,70,1);
}
#Mon_23_Oct {
    left: 281px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 132px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Donald_Curtis {
    left: 445px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 145px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Thu_26_Oct_gi {
    left: 658px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Gramma_Limited {
    left: 17px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 177px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0,0,0,1);
}
#Rectangle_655 {
    opacity: 0.082;
    fill: rgba(98,128,255,1);
    stroke: rgba(168,185,157,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_655 {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 32px;
    left: 791px;
    top: 365px;
}
#COMPLETED_gl {
    left: 808px;
    top: 362px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(98,128,255,1);
}
#SEE_ALL_PROJECTS {
    left: 0px;
    top: 410px;
    position: absolute;
    overflow: visible;
    width: 212px;
    white-space: nowrap;
    line-height: 104px;
    margin-top: -41px;
    text-align: left;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(72,72,72,1);
    letter-spacing: 1px;
    text-transform: uppercase;
}